.spinner-container {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  left: 1%;
  right: 1%;
  display: none;
}

.spinner{
  position: absolute;
  height: 120px;
  width: 120px;
  overflow: show;
  border: 6px solid rgb(255, 255, 255);
  border-color: transparent rgb(0,212,255) transparent rgb(0,212,255);
  border-radius: 50%;
  z-index: 999;
  display: flex;
  justify-content: center;
  animation: spinEx 1.2s ease infinite;
  margin: auto;
  display: none;
  
}


.logoSamos{
  width: 120px;
  height: 120px;
  animation: spinLogo 1.2s ease infinite;
  z-index: 999;
  margin: auto;
  position: relative;
  display: none;
}

.show {
  display: block;
}


@keyframes spinEx {
  to{
      transform: rotate(360deg);
  }
}

@keyframes spinLogo {
  to{
      transform: rotate(-360deg);
  }
}



