@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face{
  font-family:'font\'fortnite.otf';
  src: url('font/fortnite.otf');   
}


:root {
  --primary-color: #00173d;
}

*{
  
}
body {
  /*font-family: 'Poppins', sans-serif;*/
  
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f4f4f4;
}

/* Navbar */
.navbar {
  background: #00173d;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  flex-direction: row;
}
.somosLogo{
  width: 50px;
  height: 50px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 1rem;
}

.navbar a {
  color: #00ccff;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

/* Showcase */
.showcase {
  height: 450px;
  width: 100%;
  background: var(--primary-color);
}

.showcase h1 {
  font-size: 2.5rem;
  color: #00ccff;
  text-align: center;
  padding: 1rem 0;
}

.showcase, h2 {
  color: #00ccff
}

.showcase form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}




.showcase form input,
form select {
  font-size: 20px;
  width: 500px;
  max-width: 500px;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: #00ccff;
  color: white;
  border: none;
  border-bottom: solid #081e9b;
  outline: none;

}

::placeholder{
  color: white;
}

form button {
  font-size: 20px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background: #00ccff;
  color: #00173d;
  cursor: pointer;
  margin-top: 20px;
  font-style: italic;
}

form button:hover {
  transform: scale(1.1);
  /*background: #0152e7;*/
  color: white;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
  transition-duration: 375ms, 750ms, 750ms;
  transition-property: background, linear-gradient(),scale();
}

/* Image */

.image {
  width: 100%;
  margin-top: 2rem;
}

img {
  display: block;
  margin: auto;
}

.msg {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1rem;
}